@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor-de-fundo: #ffffff;
    --texto-principal: #03334e;
    --texto-secundario: #66d1f1;  
    --font-family:"Bebas", sans-serif;                    
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto-pricipal);
    font-family: var (--font);
    height: 100vh;
    margin: 0;
 }   

 header{
    background-color: var(--texto-principal);
    text-align: center;
 }

 h1{
    color: var(--texto-secundario);
    font-size: 3rem;
    font-weight: 900;
 }

 nav{
    display: flex;
    justify-content: center;
    font-weight: 500;
 
}

 nav a{
    text-decoration: none;
    color: var(--cor-de-fundo);
    margin: 0 0.3rem 1rem 0rem;
    font-size: 1,2rem;
}

nav a:hover{
    text-decoration: underline;
    transform: scale(1.3);
    transform: tramsform 0.2s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 192, 236);
    margin: 2rem;
}